body
{
    background-color: white;
    margin: 0;
    padding-top: 0;
    font-family: 'SF UI Display', sans-serif;
    color: #000000;
   
}
.circleup
{
    position: relative;
    height: 276px;
    margin-top: -181px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: -20;
}
.header
{ 
    position: relative;
    width: 100%;
    max-width: 1239px;
	display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
}
.logo
{
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.item-link
{
    color: #000000;
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.item-link:hover
{
    background-size: 100% 2px;
}
.circleleft
{
    position: relative;
    z-index: -10;
    margin: 0;
    /* background-color: red; */
    margin-bottom: -700px;

}
.infokz
{
    position: relative;
    margin-top: 56px;
    width: 1239px;
    height: 811px;
    margin-right: auto;
    margin-left: auto;
    z-index: 10;
    /* background-color: red; */
}

.kz
{
    margin: 0;
    float: right;
}
.kzdesc
{
    position: relative;
    width: 528px;
    height: 109px;
    top: 354px;
    z-index: 20;
    /* background-color: yellow; */
}
.kztext
{
    width: 509px;
    height: 109px;
    float: left;
    /* background-color: green; */
}
.kname
{
    float: right;
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    margin-bottom: 28px;
}
.kdescription
{
    float: right;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin: 0;
}
.rightline
{
    height: 109px;
    width: 3px;
    border-radius: 10px;
    background-color: #000000;
    float: right;
}
.circleright
{
    position: relative;
    z-index: -10;
    margin: 0;
    /* background-color: red; */
    margin-bottom: -700px;
    top: 700px;
    float: right;
}
.infoab
{
    width: 1239px;
    height: 811px;
    margin-right: auto;
    margin-left: auto;
    /* background-color: red; */
    margin-top: 95px;
    margin-bottom: 120px;
}
.ab
{
    float: left;
}
.abdesc
{
    position: relative;
    width: 543px;
    height: 109px;
    top: 354px;
    float: right;
    /* background-color: yellow; */
}
.abtext
{
    width: 524px;
    height: 109px;
    float: right;
}
.aname
{
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 82.5%;
    margin-bottom: 40px;
}
.adescription
{
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
   
}
.leftline
{
    height: 109px;
    width: 3px;
    border-radius: 10px;
    background-color: #000000;
    float: left;
}
.footer-elements
{
    width: 491px;
    height: 292px;
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 10;
    top: 80px;
}
.circledown
{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    z-index: -10;
    margin-top: -290px;
}
.logobottom
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bottom-links
{
    position: relative;
    width: 100%;
    max-width: 491px;
	display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
    margin-top: 78px;
    margin-bottom: 55px;
}
.bottom-link
{
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    color: #004B6B;
}
.contact
{
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 392px;
    height: 65px;
    background: linear-gradient(180deg, #84D8EE 0%, #76C7F2 100%);
    box-shadow: -6px -6px 16px #92E4EC, 6px 6px 16px #6DB6F8;
    border-radius: 71px;
    border: 0;
    z-index: 14;
}
.contact:focus {
    outline: none;
    box-shadow: inset -6px -6px 16px #92E4EC, inset 6px 6px 16px #6DB6F8;
}
.button-text
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #004B6B;
}
/* ------------------ABOUT US ------------------*/
.about-text
{
    margin: 0;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
}
.info1
{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1332px;
    height: 607px;
}
.text1
{
    font-weight: 300;
    font-size: 24px;
    width: 761px;
    height: 536px;
    float: left;
    line-height: 196%;
    margin: 0;
}
.lineup
{
    position: absolute;
    width: 3px;
    height: 536px;
    background-color: #000000;
    margin-right: 0;
    left: 785px;
}
.kzpic
{
    float: right;
    margin: 0;
}
.kname2
{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    width: 515px;
    margin: 0;
    float: right;
    text-align: center;
}
.info2
{
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 1332px;
    height: 607px;
    margin-top: 88px;
    margin-bottom: 129px;
}
.abpic
{
    float: left;
    margin: 0;
}

.linedown
{
    position: absolute;
    width: 3px;
    height: 536px;
    background-color: #000000;
    margin-right: 24px;
    left: 570px;
}
.text2
{
    font-weight: 300;
    font-size: 24px;
    width: 737px;
    height: 536px;
    line-height: 196%;
    margin: 0;
    float: right;
}
.aname2
{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    width: 544px;
    margin: 0;
    float: left;
    text-align: center;
}
/* ------------------------Portfolio-------------------------*/
.portfolio
{
    width: 1214px;
    height: 1800px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.jobs1, .jobs2, .jobs3
{
    width: inherit;
    height:500px;
    background-image: url(example1.png);
    background-position: 50% 0;
    border-radius: 25px;
}
.jobs2
{
    background-image: url(example2.png);
}
.jobs3
{
    background-image: url(example3.png);
}
@media(max-width: 768px)
{  
    /* ------------------------HOME-------------------------*/
    .circledown
    {
        position: relative;
        height: 320px;
        margin-top: -240px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .circleup
    {
        margin-top: -205px;
    }
    .header
    {
        max-width: 700px;
        position: relative;
        height: 50px;
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        margin-left: auto;
        margin-top: 56px;
    }
    .infokz, .infoab
    {
        position: relative;
        margin-top: 56px;
        max-width: 760px;
        height: 694px;
        z-index: 10;
        /* background-color: red; */
    }
    .kz, .ab
    {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 447px;
        height: 585px;
    }
    .kzdesc
    {
        position: relative;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        top: 30px;
        z-index: 20;
    }
    .abdesc
    {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        top: 30px;
        z-index: 20;
        float: none;
        /* background-color: yellow; */
    }
    .kztext, .abtext
    {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 509px;
        height: 109px;
        float:none;
        /* background-color: green; */
    }
    .adescription
    {
        margin: 0;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
       width: 550px;
    }
    .kname, .aname
    {
        float: none;
        text-align: center;
        font-weight: 500;
        font-size: 48px;
        margin: 0;
        margin-bottom: 28px;
    }
    .rightline, .leftline
    {
        background-color: transparent;
    }
    .circleright
    {
        top: 700px;
    }

    /* ------------------------ABOUT US-------------------------*/
    .info1
    {
        width: 700px;
        height: 1300px;
    }
    .text1
    {
        width: 600px;
        height: 700px;
        float: none;
        text-align: center;
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .lineup
    {
        display: none;
    }
    .kzpic
    {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }
    .kname2
    {
        width: 515px;
        float: none;
        text-align: center;
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .info2
    {
       
        width: 700px;
        height: 1200px;
    }
    .abpic
    {
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        float: none;
        top: 700px;
    }
    
    .linedown
    {
        display: none;
    }
    .text2
    {
        width: 600px;
        height: 700px;
        float: none;
        text-align: center;
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
        top: -500px;
    }
    .aname2
    {
        width: 515px;
        float: none;
        text-align: center;
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    /* ------------------------Portfolio-------------------------*/
    .portfolio
    {
        width: 700px;
        height: 2350px;
        
    }
    .jobs1, .jobs2, .jobs3
    {
        height:700px;
    }
}
@media (max-width: 425px)
{
    .circledown
    {
        display: none;
    }
    .header
    {
        max-width: 370px;
    }
    .infokz, .infoab
    {
        width: 400px;
        height: 694px;
        z-index: 10;
        /* background-color: red; */
    }
    .kz, .ab
    {
        width: 354px;
        height: 463px;
    }
    .kzdesc, .abdesc
    {
        width: 300px;
    }
    .kztext, .abtext
    {
        width: 300px;
    }
    .adescription
    {
       width: 300px;
       float: none;
    }
    .kname, .aname
    {
        float: none;
        text-align: center;
        font-weight: 500;
        font-size: 48px;
        margin: 0;
        margin-bottom: 28px;
    }
    .rightline, .leftline
    {
        display: none;
    }
    .circleleft
    {
        width: 300px;
    }
    .circleright
    {
        top:-300px;
    }
    .footer-elements
    {
        width: 300px;
    }
    .contact
    {
        width: 300px;
    }
    .circleup
    {
        height: 150px;
        margin-top: -205px;
    }
    /* ------------------------ABOUT US-------------------------*/
    .about-text
    {
        margin-top: 50px;
    }
    .info1
    {
        width: 300px;
        height: 1150px;
    }
    .text1
    {
        width: 300px;
        height: 750px;
        line-height: 100%;
    }
    .kzpic
    {
        width: 300px;
        height: 312px;
    }
    .kname2
    {
        width: 300px;
        float: none;
        text-align: center;
        position: relative;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .info2
    {
        width: 300px;
        height: 1200px;
        margin-bottom: 0px;
    }
    .text2
    {
        width: 300px;
        height: 750px;
        line-height: 100%;
        top: -380px;
        margin-top: -50px;
    }
    .abpic
    {
        width: 300px;
        height: 312px;
    }
    .aname2
    {
        width: 300px;
    }
     /* ------------------------Portfolio-------------------------*/
    .portfolio
    {
        width: 300px;
        height: 1400px;
        
    }
    .jobs1, .jobs2, .jobs3
    {
        height:300px;
    }
}
